<h1>Editing Message</h1>
<strong>아직 구현 안 함</strong>

<%#= form_for(@message) do |form| %>

  <div class="actions">
    <%#= form.submit %>
  </div>
<%# end %>

<%= link_to 'Show', @message %> |
<%= link_to 'Back', messages_path %>
