<!-- 현재 사용하지 않음 : books/new, books/show 페이지에서 form을 직접 구현하고 있음
     이래야 posts/edit 액션도 정상적으로 동작할 수 있음. -->
<%#= form_for [postable, Post.new] do |form| %>
<!-- form_for는 쓰지 말라 그래서... -->
<%#= form_with(model: [postable, Post.new]) do |form| %>
  <!-- 아! 그러니까 이건 postable이 아닌 post controller에서 처리하는 거고...
  그러니까 association 관계에 있는 form 작성하는 방법으로 이해하면 됨 -->

  <!-- 이러한 형태의 form_for는 books/show에서 있더라도 post_controller에서 동작함 -->
  <!-- posts_controller에서 post create하기 -->
  <%#= form.hidden_field :postable_type, value: "Book" %>
  <!-- 이런 형태로 작성할 수도 있는데 좀 더 generic하게 작성하려면... -->
<!--
    <div class="field">
      <%#= form.label :content %>
      <%#= form.text_area :content %>
    </div>
-->
    <%#= form.fields_for :posts do |post_form| %>
      <!-- 이런 방법은 허용 안됨(unpermitted) 왜냐하면 post 안에 또 post를 받는거니까... -->
    <%#= post_form.text_area :content %>
  <%# end %>
  <!--
  <div class="actions">
    <%#= form.submit %>
  </div>
  -->
<!--
  <div class="form-group">
    <div class="field">
      <%#= form.label :content %>
      <%#= form.text_area :content %>
    </div>

    <div class="actions">
      <%#= form.submit %>
    </div>
  </div>
  -->
<%# end %>

<!--
<%#= form_for(@post) do |form| %>
  <div class="field">
    <%#= form.label :content %>
    <%#= form.text_area :content %>
  </div>

  <div class="actions">
    <%#= form.submit %>
  </div>
  <%# end %>
-->
<%#= form_with model: postable do |form| %>
  <!-- 이렇게 하면 postable controller의 create 액션이 동작함 -->
  <!-- 결국 모든 문제는 form 때문이었음... ->
  <!-- 지금 이렇게 하면 message만 받을 수 있는 상태잖아... generic하게 받으려먼 어떻게 해야하나? -->

  <%#= form.fields_for :posts, Post.new do |post_form| %>
    <%#= post_form.text_area :content %>
  <%# end %>
  <!--
  <div class="actions">
    <%#= form.submit %>
  </div>
  -->
<%# end %>
